body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    border: 5px #333;

}

.navbar-logo {
    width: 60px;
    /* Ajuste conforme o tamanho desejado para o logo */
    height: auto;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
/* Para telas muito pequenas (mobile) */
@media only screen and (max-width: 480px) {
    body {
        font-size: 14px; 
    }
}

/* Para telas médias (tablets, etc.) */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    body {
        font-size: 16px; 
    }
}

/* Para telas grandes (desktops, etc.) */
@media only screen and (min-width: 1025px) {
    body {
        font-size: 18px;
    }
}

.navbar-menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s;
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Muda o layout de linha para coluna */
        align-items: center; /* Centraliza os itens no navbar */
    }

    .navbar-logo {
        margin-bottom: 10px; /* Adiciona espaço entre o logo e o menu */
    }

    .navbar-menu {
        width: 100%; /* O menu ocupa a largura total */
        flex-direction: column; /* Muda a orientação do menu de linha para coluna */
        text-align: center; /* Centraliza os links no menu */
    }

    .navbar-menu li {
        margin-bottom: 10px; /* Adiciona espaço entre os itens do menu */
    }
}


.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - alturaDaNavbar);
    width: 100%;
}
.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 5%;

}

.registration-form .input-group {
    margin-bottom: 20px;
}

.registration-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.registration-form input[type="email"],
.registration-form input[type="password"] {
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.registration-form input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.registration-form input[type="submit"]:hover {
    background-color: #2980b9;
}

.alert {
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-right: 15px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - alturaDaNavbar);
    width: 100%;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-success a {
    color: #155724;
    text-decoration: underline;
    margin-left: 10px;
}

.site-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #444;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Se desejar adicionar um estilo para links no footer */
.site-footer a {
    color: #FFD700;
    /* cor de ouro, por exemplo */
    text-decoration: none;
    margin: 0 5px;
}

.site-footer a:hover {
    text-decoration: underline;
}

