body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

/* Para telas muito pequenas (mobile) */
@media only screen and (max-width: 480px) {
    body {
        font-size: 14px; 
    }
}

/* Para telas médias (tablets, etc.) */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    body {
        font-size: 16px; 
    }
}

/* Para telas grandes (desktops, etc.) */
@media only screen and (min-width: 1025px) {
    body {
        font-size: 18px;
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    border: 5px #333;

}

.navbar-logo {
    width: 60px;
    /* Ajuste conforme o tamanho desejado para o logo */
    height: auto;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
/* Para telas muito pequenas (mobile) */
@media only screen and (max-width: 480px) {
    body {
        font-size: 14px; 
    }
}

/* Para telas médias (tablets, etc.) */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    body {
        font-size: 16px; 
    }
}

/* Para telas grandes (desktops, etc.) */
@media only screen and (min-width: 1025px) {
    body {
        font-size: 18px;
    }
}

.navbar-menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s;
}


@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Muda o layout de linha para coluna */
        align-items: center; /* Centraliza os itens no navbar */
    }

    .navbar-logo {
        margin-bottom: 10px; /* Adiciona espaço entre o logo e o menu */
    }

    .navbar-menu {
        width: 100%; /* O menu ocupa a largura total */
        flex-direction: column; /* Muda a orientação do menu de linha para coluna */
        text-align: center; /* Centraliza os links no menu */
    }

    .navbar-menu li {
        margin-bottom: 10px; /* Adiciona espaço entre os itens do menu */
    }
}


.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - alturaDaNavbar);
    width: 100%;
}

.login-container {
    width: 320px;
    background-color: #fff;
    border-radius: 8px;
    padding-right: 22px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    margin-top: 5%;
}

.error-message {
    font-family: Arial, sans-serif;
    color: #ff0000;
    /* Vermelho */
    border: 1px solid #ff0000;
    padding: 10px;
    max-width: 400px;
    margin: 6px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffe6e6;
    /* Vermelho claro */
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 15px;
    width: 80%;
}



.input-field label {
    display: block;
    margin-bottom: 5px;
}

.input-field input {
    width: 90%;
    /* Reduzindo a largura de 100% para 95% */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 17px;
}


.login-button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease;
}

.login-button:hover {
    background-color: #2980b9;
}

.login-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input#email {
    margin-right: 15px;
}

.site-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #444;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Se desejar adicionar um estilo para links no footer */
.site-footer a {
    color: #FFD700;
    /* cor de ouro, por exemplo */
    text-decoration: none;
    margin: 0 5px;
}

.site-footer a:hover {
    text-decoration: underline;
}

